## Time Series EDA

In [26]:
## Install Pandas Data Reader
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (0.10.0)
Requirement already satisfied: lxml in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas-datareader) (5.2.1)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas-datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas-datareader) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (2025.1.31)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/leo312/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)

In [27]:
import pandas_datareader as pdr
import yfinance as yf
import pandas as pd
from datetime import datetime

In [28]:
df_tesla = yf.download("TSLA", start="2020-01-01", end="2023-01-01")

[*********************100%***********************]  1 of 1 completed

In [29]:
df_tesla.tail()

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2022-12-23  123.150002  128.619995  121.019997  126.370003  166989700
2022-12-27  109.099998  119.669998  108.760002  117.500000  208643400
2022-12-28  112.709999  116.269997  108.239998  110.349998  221070500
2022-12-29  121.820000  123.570000  117.500000  120.389999  221923300
2022-12-30  123.180000  124.480003  119.750000  119.949997  157777300

In [30]:
df_tesla['High'].plot(figsize=(12,4))

In [31]:
## xlimit and y limit
df_tesla['High'].plot(xlim=['2020-01-01','2021-09-01'],figsize=(12,4))

In [32]:
## xlimit and y limit
df_tesla['High'].plot(xlim=['2020-01-01','2021-09-01'],ylim=[0,900],figsize=(12,4))

In [33]:
## xlimit and y limit and coloring
df_tesla['High'].plot(xlim=['2020-01-01','2021-09-01'],ylim=[0,900],figsize=(12,4),ls='--',c='green')

In [34]:
df_tesla.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [35]:
index=df_tesla.loc['2020-01-01':'2021-09-01'].index
share_open=df_tesla.loc['2020-01-01':'2021-09-01']['Open']

In [36]:
share_open

Ticker            TSLA
Date
2020-01-02   28.299999
2020-01-03   29.366667
2020-01-06   29.364668
2020-01-07   30.760000
2020-01-08   31.580000
...                ...
2021-08-26  236.103333
2021-08-27  235.000000
2021-08-30  238.240005
2021-08-31  244.333328
2021-09-01  244.693329

[421 rows x 1 columns]

In [37]:
index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2021-08-19', '2021-08-20', '2021-08-23', '2021-08-24',
               '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-30',
               '2021-08-31', '2021-09-01'],
              dtype='datetime64[ns]', name='Date', length=421, freq=None)

In [38]:
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
figure,axis=plt.subplots()
plt.tight_layout()
## Preventing overlapping
figure.autofmt_xdate()
axis.plot(index,share_open)

In [40]:
## Datetime Index

In [41]:
df_tesla=df_tesla.reset_index()

In [42]:
df_tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Date, )        756 non-null    datetime64[ns]
 1   (Close, TSLA)   756 non-null    float64
 2   (High, TSLA)    756 non-null    float64
 3   (Low, TSLA)     756 non-null    float64
 4   (Open, TSLA)    756 non-null    float64
 5   (Volume, TSLA)  756 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 35.6 KB

In [43]:
df_tesla=df_tesla.set_index('Date',drop=True)

In [44]:
df_tesla.head()

Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2020-01-02  28.684000  28.713333  28.114000  28.299999  142981500
2020-01-03  29.534000  30.266666  29.128000  29.366667  266677500
2020-01-06  30.102667  30.104000  29.333332  29.364668  151995000
2020-01-07  31.270666  31.441999  30.224001  30.760000  268231500
2020-01-08  32.809334  33.232666  31.215334  31.580000  467164500

In [45]:
## datetime
from datetime import datetime

In [46]:
datetime(2021,11,21)

datetime.datetime(2021, 11, 21, 0, 0)

In [47]:
datetime.now()

datetime.datetime(2025, 4, 16, 16, 28, 22, 270797)

In [48]:
date=datetime(2021,11,21)

In [49]:
date

datetime.datetime(2021, 11, 21, 0, 0)

In [50]:
date.date()

datetime.date(2021, 11, 21)

In [51]:
date.day

21

In [52]:
date.weekday()

6

In [53]:
date.year

2021

In [54]:
date.month

11

## Time Resampling

In [55]:
df_tesla.head()

Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2020-01-02  28.684000  28.713333  28.114000  28.299999  142981500
2020-01-03  29.534000  30.266666  29.128000  29.366667  266677500
2020-01-06  30.102667  30.104000  29.333332  29.364668  151995000
2020-01-07  31.270666  31.441999  30.224001  30.760000  268231500
2020-01-08  32.809334  33.232666  31.215334  31.580000  467164500

In [56]:
df_tesla.resample(rule='A').min()

/var/folders/y2/6_0fydb50tg1y8558pkgz1680000gn/T/ipykernel_9805/402307664.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_tesla.resample(rule='A').min()

Price            Close        High         Low        Open    Volume
Ticker            TSLA        TSLA        TSLA        TSLA      TSLA
Date
2020-12-31   24.081333   26.990667   23.367332   24.980000  52073100
2021-12-31  187.666672  188.736664  179.830002  184.183334  29401800
2022-12-31  109.099998  116.269997  108.239998  110.349998  41864700

In [57]:
df_tesla.resample(rule='A').max()

/var/folders/y2/6_0fydb50tg1y8558pkgz1680000gn/T/ipykernel_9805/295686357.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_tesla.resample(rule='A').max()

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2020-12-31  235.223328  239.573334  230.373337  233.330002  914082000
2021-12-31  409.970001  414.496674  405.666656  411.470001  268189500
2022-12-31  399.926666  402.666656  378.679993  396.516663  221923300

In [58]:
##year end frequency
df_tesla.resample(rule='A').max()['Open'].plot()

/var/folders/y2/6_0fydb50tg1y8558pkgz1680000gn/T/ipykernel_9805/2277633379.py:2: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_tesla.resample(rule='A').max()['Open'].plot()

In [59]:
##quaterly start frequency
##https://towardsdatascience.com/resample-function-of-pandas-79b17ec82a78
df_tesla.resample(rule='QS').max()['High'].plot()

In [60]:
##Business End Frequency
##https://towardsdatascience.com/resample-function-of-pandas-79b17ec82a78
df_tesla.resample(rule='BA').max()

/var/folders/y2/6_0fydb50tg1y8558pkgz1680000gn/T/ipykernel_9805/2031871557.py:3: FutureWarning: 'BA' is deprecated and will be removed in a future version, please use 'BYE' instead.
  df_tesla.resample(rule='BA').max()

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2020-12-31  235.223328  239.573334  230.373337  233.330002  914082000
2021-12-31  409.970001  414.496674  405.666656  411.470001  268189500
2022-12-30  399.926666  402.666656  378.679993  396.516663  221923300

In [61]:
df_tesla.resample(rule='BQS').max()

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2020-01-01   61.161331   64.599335   60.068001   61.566666  914082000
2020-04-01   71.987335   72.512665   66.915337   67.518669  487977000
2020-07-01  166.106674  167.496674  156.836670  167.380005  584781000
2020-10-01  235.223328  239.573334  230.373337  233.330002  666378600
2021-01-01  294.363342  300.133331  290.533325  297.126678  268189500
2021-04-01  254.106674  260.263336  244.203339  256.899994  147052200
2021-07-01  263.786682  266.333344  258.333344  262.399994  100847400
2021-10-01  409.970001  414.496674  405.666656  411.470001  188556300
2022-01-03  399.926666  402.666656  378.679993  396.516663  151565700
2022-04-01  381.816681  384.290009  362.433319  378.766663  144973200
2022-07-01  309.320007  314.666656  305.579987  311.666656  142032300
2022-10-03  249.440002  257.500000  242.009995  254.500000  221923300

In [62]:
##plotting
df_tesla['Open'].resample(rule='A').mean().plot(kind='bar')

/var/folders/y2/6_0fydb50tg1y8558pkgz1680000gn/T/ipykernel_9805/1115683062.py:2: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_tesla['Open'].resample(rule='A').mean().plot(kind='bar')

In [63]:
df_tesla['Open'].resample(rule='M').max().plot(kind='bar',figsize=(15,6))

/var/folders/y2/6_0fydb50tg1y8558pkgz1680000gn/T/ipykernel_9805/2600133088.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_tesla['Open'].resample(rule='M').max().plot(kind='bar',figsize=(15,6))

In [64]:
df_tesla['High'].rolling(11).max().head(20)

Ticker           TSLA
Date
2020-01-02        NaN
2020-01-03        NaN
2020-01-06        NaN
2020-01-07        NaN
2020-01-08        NaN
2020-01-09        NaN
2020-01-10        NaN
2020-01-13        NaN
2020-01-14        NaN
2020-01-15        NaN
2020-01-16  36.493999
2020-01-17  36.493999
2020-01-21  36.571999
2020-01-22  39.633331
2020-01-23  39.633331
2020-01-24  39.633331
2020-01-27  39.633331
2020-01-28  39.633331
2020-01-29  39.633331
2020-01-30  43.391998

In [65]:
df_tesla.head()

Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2020-01-02  28.684000  28.713333  28.114000  28.299999  142981500
2020-01-03  29.534000  30.266666  29.128000  29.366667  266677500
2020-01-06  30.102667  30.104000  29.333332  29.364668  151995000
2020-01-07  31.270666  31.441999  30.224001  30.760000  268231500
2020-01-08  32.809334  33.232666  31.215334  31.580000  467164500

In [66]:
df_tesla['Open:30 days rolling']=df_tesla['Open'].rolling(30).mean()

In [67]:
df_tesla.head(31)

Price,Close,High,Low,Open,Volume,Open:30 days rolling
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,
Date,,,,,,
2020-01-02,28.684000,28.713333,28.114000,28.299999,142981500,NaN
2020-01-03,29.534000,30.266666,29.128000,29.366667,266677500,NaN
2020-01-06,30.102667,30.104000,29.333332,29.364668,151995000,NaN
2020-01-07,31.270666,31.441999,30.224001,30.760000,268231500,NaN
2020-01-08,32.809334,33.232666,31.215334,31.580000,467164500,NaN
2020-01-09,32.089333,33.253334,31.524668,33.139999,426606000,NaN
2020-01-10,31.876667,32.329334,31.580000,32.119331,194392500,NaN
2020-01-13,34.990665,35.042000,32.799999,32.900002,397764000,NaN
2020-01-14,35.861332,36.493999,34.993332,36.284000,434943000,NaN
2020-01-15,34.566666,35.855999,34.452667,35.317333,260532000,NaN
2020-01-16,34.232666,34.297333,32.811333,32.916668,326050500,NaN
2020-01-17,34.033333,34.377998,33.543999,33.840668,204436500,NaN
2020-01-21,36.480000,36.571999,35.227333,35.349998,267052500,NaN
2020-01-22,37.970669,39.633331,37.273335,38.125999,470535000,NaN
2020-01-23,38.146667,38.799999,37.040001,37.616669,294765000,NaN
2020-01-24,37.654667,38.257332,36.950668,38.042000,215304000,NaN
2020-01-27,37.201332,37.629333,35.952000,36.132668,204121500,NaN
2020-01-28,37.793331,38.453999,37.205334,37.899334,176827500,NaN
2020-01-29,38.732666,39.320000,37.828667,38.379333,267022500,NaN
2020-01-30,42.720669,43.391998,41.200001,42.161331,435085500,NaN
2020-01-31,43.371334,43.533333,42.167999,42.666668,235789500,NaN
2020-02-03,52.000000,52.409332,44.901333,44.912666,705975000,NaN
2020-02-04,59.137333,64.599335,55.591999,58.863998,914082000,NaN
2020-02-05,48.980000,56.398666,46.940666,54.883999,726357000,NaN
2020-02-06,49.930668,53.055332,45.799999,46.661331,598212000,NaN
2020-02-07,49.871334,51.316666,48.666668,48.703335,255952500,NaN
2020-02-10,51.418667,54.666000,50.160000,53.333332,370338000,NaN
2020-02-11,51.625332,52.234001,50.533333,51.252666,175462500,NaN
2020-02-12,51.152668,52.650002,50.891335,51.858002,180337500,NaN
2020-02-13,53.599998,54.533333,49.000000,49.456001,394339500,39.739622
2020-02-14,53.335335,54.198002,52.366669,52.481335,235405500,40.545667

In [68]:
df_tesla[['Open','Open:30 days rolling']].plot(figsize=(12,5))

##Assignment
##news
1. Read the Microsoft Data using Pandas Data reader
2. Get the maximum price of the share from 2017 to 2022
3. Which is the date of the highest price of the stock?
4. Which is the date of the lowest price of the stock?